doctype HTML 
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		title Comprar y Vender Divisas
		meta(name="description" content="")
		meta(name="author" content="Itáu Dev Team")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon")
		// Adjuntamos Nuestros CSS
		link(href="assets/css/grid.css" rel="stylesheet" type="text/css")
		link(href="assets/css/flex.css" rel="stylesheet" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css")
	body
		// Agregamos el contenido de nuestra App aquí
		div#main
			article pico
			nav nav
			aside side
		footer pico