body {
	font-family: 'Open Sans', sans-serif;
}
$color-linea:#dad7d7;
.padding10 {
	padding:10px;
}
.content-xxl, .content-xl, .content-md, .content-sd {
	margin: 0 auto;
} 
.content-xxl {
	width: 100%;

	.grid-3 {
		outline: none;
	}
}
.content-xl {
	width: 1200px;
	padding: 10px;
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-gap: 10px;
  outline: solid 1px $color-linea;
  > div {
  	outline: solid 1px $color-linea;
  	padding: 10px;
  }
}